.sign-up {
	h1 {
		text-align: center;
	}
}

.signup-form {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	align-items: stretch;
	margin-left: 25%;
	margin-top: 50px;

	.signup-frm {
		display: flex;
		flex-direction: column;
	}

	.inp-frm {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;

		.error {
			color: red;
			margin-bottom: 10px;
			font-size: 0.9em;
		}
	}

	.username,
	.email,
	.confirm-pass,
	.password {
		font-size: 1.2em;
		padding: 9px 5px;
		border: 1px solid #ccc8c8;
		border-radius: 5px;
		width: 100%;

		&:hover {
			border-color: #5F88DF;
		}
	}

	.btn-signup {
		background-color: #5F88DF;
		color: white;
		border: none;
		padding: 15px 0px;
		font-size: 1.2em;
		border-radius: 5px;
		margin-top: 20px;
		transition: 0.2s;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			background-color: #ea9aa7;
		}
	}

	.login {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		gap: 10px;

		.btn-login {
			border: none;
			background-color: inherit;
			color: #5F88DF;
			transition: 0.2s;
			text-decoration: none;

			&:hover {
				color: #ea9aa7;
			}
		}
	}
}

.login-social-net {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 25%;
	margin-top: 40px;
	margin-bottom: 40px;

	.login-google,
	.login-facebook {
		display: flex;
		background-color: #5F88DF;
		border: 1px solid #5F88DF;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background-color: #ea9aa7;
		}

		span {
			font-size: 2em;
			padding: 10px 15px 7px 10px;
		}

		p {
			padding: 16px 20px 0px 10px;
			color: white;
			font-size: 1.2em;
		}
	}

	.login-google {
		span {
			background-color: white;
		}
	}

	.login-facebook {
		color: white;
	}
}