.reading-compre-detail {
	margin: 40px 60px;
}

.paragraph {
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.3em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background-color: #e9f0f9;
	white-space: pre-wrap;
}