#error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 550px;

	img {
		height: 500px;
		object-fit: contain;
	}
}

@media screen and (max-width:500px) {
	#error-page img {
		height: 300px;
	}
}